.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.widget-socials {
  width: max-content;
  height: 85px;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.footer_nav {
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: #000000;
}

.widget-social {
  margin-right: 50px;
}
.widget-social:last-child {
  margin-right: 0;
}

.widget-link {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}

.widget-link-instagram {
  background-image: url(cssImg/social_media_logo_instagram_icon-icons.com_56669.svg);
}

.widget-link-vk {
  /* background-image: url(cssImg/svg-editor-image.svg); */
}

.widget-link-youtube {
  background-image: url(cssImg/social_media_logo_youtube_icon-icons.com_56664.svg);
  display: none;
}

.link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.requisites {
  font-size: 14px;
  color: #ffffff;
  display: block;
}

.requisites:first-child {
  margin-top: 10px;
}

.watermark {
  width: 300px;
  
}