.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.widget-socials {
  width: max-content;
  height: 85px;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.footer_nav {
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: #000000;
}

.widget-social {
  margin-right: 50px;
}
.widget-social:last-child {
  margin-right: 0;
}

.widget-link {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}
.widget-link-telegram {
  background-image: url(cssImg/icon-paperplane.png);
}
.widget-link-instagram {
  background-image: url(cssImg/inst.png);
}

.widget-link-vk {
  background-image: url(cssImg/vk.png); 
}

.widget-link-youtube {
  background-image: url(cssImg/1525276693_youtube-logo-hd-8.png);
  width: 37px;
  height: 30px;
  background-size: 37px;
}

.link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.requisites {
  opacity: 0.5;
  font-family: 'Gilroy Regular';
  font-size: 16.4px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.requisites:first-child {
  margin-top: 10px;
}
.requisites:last-child {
  font-family: 'Gilroy Regular';
  font-size: 12.7px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}