*{
  margin: 0;
  padding: 0;
  font-family: 'Gylroy Regular', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url(./fonts/gilroy/regular/Gilroy-Regular.eot);
  src: url(./fonts/gilroy/regular/Gilroy-Regular.eot) format('embedded-opentype'),
  url(./fonts/gilroy/regular/Gilroy-Regular.woff) format('woff'),
  url(./fonts/gilroy/regular/Gilroy-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  }

@font-face {
  font-family: 'Gilroy Italic';
  src: url(./fonts/gilroy/regular_italic/Gilroy-RegularItalic.eot);
  src: url(./fonts/gilroy/regular_italic/Gilroy-RegularItalic.eot) format('embedded-opentype'),
  url(./fonts/gilroy/regular_italic/Gilroy-RegularItalic.woff) format('woff'),
  url(./fonts/gilroy/regular_italic/Gilroy-RegularItalic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url(./fonts/gilroy/bold/Gilroy-Bold.eot);
  src: url(./fonts/gilroy/bold/Gilroy-Bold.eot) format('embedded-opentype'),
  url(./fonts/gilroy/bold/Gilroy-Bold.woff) format('woff'),
  url(./fonts/gilroy/bold/Gilroy-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url(./fonts/Myriad_Pro/regular/MyriadPro-Regular.eot);
  src: url(./fonts/Myriad_Pro/regular/MyriadPro-Regular.eot) format('embedded-opentype'),
  url(./fonts/Myriad_Pro/regular/MyriadPro-Regular.woff) format('woff'),
  url(./fonts/Myriad_Pro/regular/MyriadPro-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

.col_box_article:nth-child(odd) {
  background-color: #f5f5f5;
}
  
.col_box_article {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8%;
  padding-left: 8%;
  padding-top: 90px;
  padding-bottom: 165px;
}

.col_box_detalis {
  display: flex;
  flex-direction: column;
}

.col_box_detalis_header {
  margin-top: 130px;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 43px;
  font-weight: 400;
  color: #212121;
}

.col_box_detalis_header::after {
  content: '';
  display: block;
  background-color: #cc3333;
  width: 64px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.col_box_detalis_description {
  display: block;
  font-size: 25px;
  line-height: 20px;
  font-weight: 300;
  font-style: italic;
  color: #86878b;
  margin-bottom: 40px;
}

@media (max-width: 1200px) {

.col_box_article {
  padding: 4%;
}

}

@media (min-width: 641px) and (max-width: 1200px) {

.col_box_article {
  justify-content: center;
}

.col_box_detalis_header {
  margin-top: 80px;
}

}

@media (max-width: 640px) {

.col_box_article {
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.col_box_detalis_header {
  margin-top: 10px;
  font-size: 40px;
}

}


